<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout" value="%thread - %message%newline"/>
    </appender>

    <appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <RemoteAddress value="logsene-receiver-syslog.sematext.com"/>
      <RemotePort value="514"/>
      <Identity value="80835c0f-f58e-40fe-bd9b-5aab7371e93a"/>
      <layout type="log4net.Layout.PatternLayout"/>
      <!--<conversionPattern value="%thread - %message"/>-->

    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RemoteSyslogAppender"/>
    </root>

  </log4net>
</configuration>